<!DOCTYPE html>
<html lang="en">
<head>
    <title>Restricted Retailers</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid">
    <h3>Restricted Retailers</h3>

    <form method="POST" action="">
        {% csrf_token %}
        <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <td>
                    <span style="font-weight:bold">Retailer</span>
                </td>
            </tr>
            {% for country in countries %}
                <tr>
                    <td>
                        {{ country }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div><input type="submit" name="main" value="Main"></div>&nbsp;

    </form>
</div>
</form>
</body>
</html>

